#container {
  width: 100%;
  max-width: 991px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 2rem;
  color: #bd93f9;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  margin: 0.5rem 0;
  background: #44475a;
  color: #ff79c6;
  padding: 0.5rem;
  font-weight: 900;
}
